      body {
         font: 11px/1.5em;
         font-family: "Times New Roman", serif;
         background-color: #FFFFFF;
      }

      h1, h2, h3, h4, h5, h6 {
          font-weight: bold;
      }


      h1 {
          font-size: 164%;
      }


      h2 {
          font-size: 145%;
      }

      h3 {
          font-size: 118%;
      }

      h4 {
          font-size: 100%;
      }

      #toc .even {
          background-color: #d6bba7;
      }

      .small  {
          font-size: 60%;
      }

      .articleTitle {
          font-family:"Times New Roman", serif;
          font-weight: bold;
          font-size: 164%;
          text-align: center;
          color: #804040;
       }

      pre {
        background-color: #e4d2b8;
        padding: 16px 0px 10px 8px;
        margin: 6px 8px 0px 8px;
      }
